/* =========================
   NAVBAR
========================= */

.container{
    width:90%;
    max-width:1400px;
    margin:auto;
}

.navbar{

    position:fixed;
    top:0;
    left:0;

    width:100%;

    background:rgba(255,255,255,.95);

    backdrop-filter:blur(10px);

    box-shadow:0 2px 20px rgba(0,0,0,.05);

    z-index:1000;

}

.navbar .container{

    display:flex;

    justify-content:space-between;

    align-items:center;

    height:85px;

}

.logo img{

    height:55px;

    display:block;

}

nav ul{

    display:flex;

    list-style:none;

    gap:35px;

}

nav ul li a{

    text-decoration:none;

    color:#111827;

    font-weight:600;

    transition:.3s;

}

nav ul li a:hover{

    color:var(--primary);

}

.search-box{

    margin-left:30px;

}

.search-box input{

    width:220px;

    height:42px;

    border:none;

    outline:none;

    background:#F5F7FA;

    border-radius:30px;

    padding:0 20px;

    font-size:15px;

}

.project-btn{

    margin-left:25px;

    background:var(--primary);

    color:white;

    text-decoration:none;

    padding:14px 24px;

    border-radius:30px;

    font-weight:600;

    transition:.3s;

}

.project-btn:hover{

    transform:translateY(-2px);

    background:#1d4ed8;

}
