@media(max-width:992px){

    nav{

        display:none;

    }

    .search-box{

        display:none;

    }

    .project-btn{

        display:none;

    }

    .menu-toggle{

        display:block;

    }

}

.why-grid{

    grid-template-columns:1fr;

}
